/* * {
  font-family: "Girassol", "sans-serif";
} */
body {
  margin: 0;
  font-family: "Girassol", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: "Girassol" "sans-serif";
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.rustu {
  width: 40%;
  text-align: center;
  border-bottom: 3px solid white;
  line-height: 0.1em;
  margin: 10px 0 10px;
}

.rustu span {
  font-family: "Girassol", "sans-serif";
  background: #0d6efd;
  color: rgb(240, 207, 24);
  padding: 0 10px;
  font-size: 30px;
  font-weight: bold;
}

h1 {
  font-family: "Girassol";
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}
h1::before,
h1::after {
  display: inline-block;
  content: "";
  border-top: 0.3rem solid black;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

.blog {
  border: 1px solid white;
  border-radius: 50%;
  background: #0d6efd;
}
.register {
  background: #0d6efd;
}
.registerContainer,
.loginContainer {
  background-image: url(https://picsum.photos/800/800);
  background-size: cover;
}
.dropdown {
  font-family: "Segoe UI", "Tahoma", " Geneva", "Verdana", "sans-serif";
}
